<mat-expansion-panel style="margin-top:10px" #panel [expanded]="true" hideToggle (closed)="panel.open()">
    <mat-expansion-panel-header
        style="display: flex;justify-content:space-between;background-image:linear-gradient(#C8D7E1,#B6CCDB) ">
        <mat-panel-title style="display: flex;width:100%;align-items:center;font-weight:bolder">
            All files
        </mat-panel-title>
        <mat-panel-description style="margin-left: auto;">
        </mat-panel-description>
    </mat-expansion-panel-header>
    <app-my-table [data]="dataTable" [isHome]="isHome" [isBottom]="true"></app-my-table>
</mat-expansion-panel>