<mat-expansion-panel #panel [expanded]="true" hideToggle (closed)="panel.open()">
    <mat-expansion-panel-header
        style="display: flex;justify-content:space-between;background-image:linear-gradient(#C8D7E1,#B6CCDB) ">
        <mat-panel-title [id]="name.replace(' ', '')" style="display: flex;width:100%;align-items:center;font-weight:bolder">
            <mat-icon *ngIf="isRequired" style="font-size:22px;margin-left: 10px;margin-right: 10px;color:#852628">star
            </mat-icon>
            {{name}}
        </mat-panel-title>
        <mat-panel-description style="margin-left: auto;">
            <button (click)="attachFile($event)" mat-raised-button color="primary">Attach File</button>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <app-my-table [data]="dataTable" [isBottom]="true" (update)="update.emit()"></app-my-table>

    <!-- <section *ngIf="files && files.length" class="allFiles">
        <app-bottom-table [dataTable]="files" [container]="containersList.allfiles">
        </app-bottom-table>
      </section> -->
</mat-expansion-panel>
