<button class="mainbtn" (click)="isOpen = !isOpen" mat-raised-button color="accent">
  <mat-icon>add</mat-icon>Create post
</button>
<form
  *ngIf="isOpen"
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(form.value)"
  novalidate
>
  <mat-form-field>
    <mat-label>Post Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Post body</mat-label>
    <input matInput formControlName="body" />
  </mat-form-field>
  <button class="mainbtn"
    color="accent"
    [disabled]="!form.valid"
    mat-raised-button
    type="submit"
  >
    <span>Post</span>
  </button>
</form>

<div>
  <h3></h3>
  <!-- <h3>List</h3> -->
<mat-card *ngFor="let post of dataList;let i= index">
  <button class="mat-button" mat-icon-button>
    <mat-icon class="dlt-icon" (click)="delete(i)" color="warn">delete</mat-icon>
  </button>
  <div class="post-title">
    {{ post.title }}
  </div>
  <!-- <div class="post-meta">
    {{ post.created }}
  </div> -->
  <div class="post-body">
    {{ post.body }}
  </div>
</mat-card>
</div>
