.mat-toolbar.mat-accent {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  background: rgb(131,
    116,
    227);

  a.logo{
    display: flex;
  }
  a {
    text-decoration: none;

    &.active-link {
      
    }
    span {
      margin-left: 24px;
    }
  }
}
