<mat-toolbar color="accent">
  <span>
    <a routerLink="/">
      <span>File Storage</span>
    </a>
  </span>

  <span>
    <a
    class="home-class" id="home435"
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/home"
    >
      <span>Home</span>
    </a>
    <a
      class="login-class" id="login834"
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Login</span>
    </a>
    <!-- <a
    class="upload-class" id="upload983"
    routerLinkActive="active-link"
    routerLink="/create-post"
  >
    <span>Post</span>
  </a> -->
    <a
      class="upload-class" id="upload983"
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/home"
    >
      <span>Upload</span>
    </a>
    <a class="logout-class" id="logout325"
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Logout</span>
    </a>
    <a class="signup-class" id="signup124"
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/signup"
    >
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar>
